* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.mockup-1-container {
  width: 580px;
  padding: 100px 80px;
  background-color: #162ae3;
}
.mockup-1-container .inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.mockup-1-container input {
  padding: 12px 15px;
  border: none;
  border-radius: 6px;
  background-color: #fff;
}

.mockup-1-container input:nth-child(3) {
  grid-column: 1 / span 2;
}

.mockup-1-container .name-input::placeholder,
.mockup-1-container .email-input::placeholder,
.mockup-1-container .phone-number-input::placeholder {
  color: #9ca0aa;
}

.mockup-1-container .name-input,
.mockup-1-container .email-input {
  width: 200px;
}
.mockup-1-container .phone-number-input {
  width: 420px;
}

.mockup-1-container .submit-button {
  border: none;
  background-color: #fff;
  border-radius: 6px;
  padding: 15px 35px;
  color: #162ae3;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  align-self: flex-start;
  margin-top: 60px;
}

.mockup-2-container {
  display: flex;
  flex-direction: row;
  padding: 50px 70px;
  background-color: #f2ede6;
  border-radius: 10px;
  width: 900px;
}
.mockup-2-container .mockup-img {
  width: 230px;
  height: 350px;
  margin-right: 60px;
}
.mockup-2-container .contact-container {
  width: 100%;
  padding: 10px 0px;
}
.mockup-2-container .header-text {
  font-size: 50px;
  font-family: serif;
  margin-bottom: 20px;
}
.mockup-2-container .grid-container {
  display: grid;
  grid-template-rows: 60px 60px 60px 60px;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.mockup-2-container input {
  border: none;
  width: 60%;
  background-color: transparent;
  border-bottom: 1.5px solid #00024b;
}
.mockup-2-container button {
  border: none;
  width: 180px;
  height: 45px;
  border-radius: 50px;
  background-color: #00054b;
  color: #fff;
  align-self: flex-end;
}

.mockup-2-container .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mockup-2-container .info-header {
  font-size: 15px;
  font-weight: bold;
  color: #00054b;
  margin-bottom: 3px;
}
.mockup-2-container .info-content {
  font-size: 12px;
  color: #00054b;
}

.mockup-2-container .sns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.mockup-2-container .sns-container img {
  width: 25px;
  height: 25px;
}
