* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.mockup-1-container {
  width: 580px;
  padding: 100px 80px;
  background-color: #162ae3;
}
.mockup-1-container .inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.mockup-1-container input {
  padding: 12px 15px;
  border: none;
  border-radius: 6px;
  background-color: #fff;
}

input:nth-child(3) {
  grid-column: 1 / span 2;
}

.mockup-1-container .name-input::placeholder,
.mockup-1-container .email-input::placeholder,
.mockup-1-container .phone-number-input::placeholder {
  color: #9ca0aa;
}

.mockup-1-container .name-input,
.mockup-1-container .email-input {
  width: 200px;
}
.mockup-1-container .phone-number-input {
  width: 420px;
}

.mockup-1-container .submit-button {
  border: none;
  background-color: #fff;
  border-radius: 6px;
  padding: 15px 35px;
  color: #162ae3;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  align-self: flex-start;
  margin-top: 60px;
}

.mockup-2-container {
}
